<div class="row" id="<%= dom_id skill_category %>">
  <div class="col-10"><%= link_to  skill_category.name, portfolio_skill_category_path(@portfolio, skill_category) %></div>
  <div class="col-2 text-center"><%= skill_category.skills.count %></div>
</div>
