
<div class="container">
  <div class="row">
    <div class="col">
      <div class="section mt-5">
        <div class="section-heading">
          <h2><%= @skill_category.name %></h2>
          <%= link_to  "Edit", "#" %>
        
        </div>
        <hr>
        <%= render  "skills/form", portfolio: @portfolio, skill_category: @skill_category, skill: Skill.new %>
        <hr>
        <div class="row">
          <div class="col" id="skills"> 
            <%= render @skills, portfolio: @portfolio, skill_category: @skill_category %>
          </div>
        </div>
        </table>      
      </div>

    </div>
  </div>
</div>