
<div class="container">
  <div class="row">
    <div class="col">

      <%= render  "skills/form", portfolio: @portfolio, skill_category: @skill_category, skill: Skill.new %>

      <ul id="skills">
        
        <%= render  @skills, portfolio: @portfolio, skill_category: @skill_category %>
      </ul>
    </div>
  </div>
</div>