<div id="<%= dom_id portfolio %>">
  <p>
    <strong>Email:</strong>
    <%= portfolio.email %>
  </p>



  <p>
    <strong>Welcome message:</strong>
    <%= portfolio.welcome_message %>
  </p>

  <p>
    <strong>About me text:</strong>
    <%= portfolio.about_me_text %>
  </p>

</div>
