<div class="container">
  <div class="row">
    <div class="col">
      <h1>New skill</h1>

      <%= render "form", portfolio: @portfolio, skill_category: @skill_category, skill: @skill %>

      <br>

      <div>
        <%= link_to "Back", @portfolio %>
      </div>    
    </div>
  </div>
</div>
