<div class="container">
  <div class="row mt-5">
    <div class="col section">
      <div class="row ">
        <div class="col section-heading">
          <h2>New Project</h2>
          <%= link_to "Back", @portfolio %> 
        </div>
        <hr>
      </div>
      <%= render "form", project: @project %>
    </div>
  </div>
</div>