<h1>New Message sent from your portfolio!</h1>

<p>Someone with the name: <%= @message.name %> and email address: <%= @message.email %></p>

<p>Their message:</p>
<p><%= @message.message %></p>

<%= mail_to  @message.email do %>
  <strong>Click here to reply to their email!</strong>
<% end %>
