/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
p {
    width: fit-content;
    margin: none;
}
.section {
    background-color: #333;
    color: whitesmoke;
    padding: 1em;
    border-radius: 5px;

    height: fit-content;
}

.section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-content{
    border:#555 solid 1px;
    border-radius: 5px;
    padding: .5em;
    margin: .5em;
}

.last-message {
    border: #555 solid 1px;
    background-color: black;
    padding: 1em;
    margin: 0 .5em;
}

#main-photo {
    width: 100%;
    max-width: 300px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {

text-align: left;
padding: 8px;
}


tr:nth-child(even) {
background-color: #555;
}

.message-container {
    
}

.edit-about-image-container {
    border: solid red;
}

.project-show-photo {
    width: 100%;
}

.project-photos {
    width: 100%;
}

.project-photos-container {
    
}